/results/images/
/results/tensorboard/
/4carreal_object_detection/
/results/images/
/results/trained/
/results/best_models/
/results/
/prune/
/prune/data/
/prune/data/cifar-10-batches-py/
/tensorboard/